<div class="container">
	<div class="row">
		<div class="col-md-12 text-center pt-5">
			<h1 class="mb-4">{{description}}</h1>
			<h3 class="mb-4">Ultimos pedidos</h3>
			<a href="/cocina" class="btn btn-primary">Atras</a>
		</div>
		<div class="col-md-12 pt-4">
			<div class="row">
				{{#if orders.length}}
					{{#each orders}}
					<div class="col-md-4 pb-4">
						<div class="card">
							<h5 class="card-header">Orden #{{id}}</h5>
							<div class="card-body">
								<h5 class="card-title">{{recipeName}}</h5>
								<ul class="list-group">
									{{#each ingredients}}
									<li class="list-group-item d-flex justify-content-between align-items-center">
										{{name}}
										<span class="badge bg-primary rounded-pill">{{quantity}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
				{{else}}
					<div class="col-md-12 text-center">
						<h3>No hay pedidos</h3>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>